$primary-bg-color: #198754;
$primary-text-color: #fff;
$primary-btn-bg-color: #198754;
$primary-btn-text-color: #fff;
$main-area-bg-color: #f8f9fa;
$primary-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);

//desktop sidebar
$desktop-sidebar-bg-color: $primary-bg-color;
$desktop-sidebar-text-color: $primary-text-color;