<p mat-dialog-title>Add Project</p>

<mat-dialog-content>
  <form>
    <div class="mb-3">
      <label for="hours" class="form-label">Project Name</label>
      <input
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="hours" class="form-label">Allocate hours</label>
      <input
        type="number"
        class="form-control"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-light me-2" (click)="onCancel()">Cancel</button>
  <button class="btn btn-success" (click)="onSubmit()">Create</button>
</mat-dialog-actions>
