<div [ngClass]="{ collapsed: isCollapsed }" class="sidebar-container">
  <button
    class="collapse-btn"
    [ngStyle]="{ 'margin-left': isCollapsed ? '10px' : '170px' }"
    (click)="toggleCollapse()"
  >
    <i
      [ngClass]="isCollapsed ? 'fa fa-chevron-right' : 'fa fa-chevron-left'"
    ></i>
  </button>

  <hr />

  <ul class="mynav">
    @for (sidebar of sidebarList; track sidebar.key) {
    <li
      (click)="onSidebarChange(sidebar)"
      [class.active]="currentTab === sidebar.key"
    >
      <i
        class="{{ sidebar.icon }}"
        [matTooltipPosition]="'right'"
        [matTooltip]="isCollapsed ? sidebar.value : null"
        matTooltipClass="my-custom-tooltip"
      ></i>
      @if (!isCollapsed) {
      <span>{{ sidebar.value }}</span>
      }
    </li>
    }
  </ul>

  <hr />

  <div>
    <button class="btn profile-btn">
      <i
        class="fa fa-user-circle"
        [matTooltipPosition]="'right'"
        [matTooltip]="isCollapsed ? 'Shakeer Shaik' : null"
        matTooltipClass="my-custom-tooltip"
      ></i>
      @if (!isCollapsed) {
      <span class="m-2">Shakeer Shaik</span>
      }
    </button>

    <button class="btn profile-btn" (click)="onLogout()">
      <i
        class="fa fa-sign-out-alt"
        [matTooltipPosition]="'right'"
        [matTooltip]="isCollapsed ? 'Logout' : null"
        matTooltipClass="my-custom-tooltip"
      ></i>
      @if (!isCollapsed) {
      <span class="m-2">Logout</span>
      }
    </button>
  </div>
</div>
