<div class="container manage-list-container">
  <div class="header-content">
    <p>{{ isAdmin ? "Manage" : "Assigned" }} Projects</p>
    @if (isAdmin) {
    <div class="options">
      <button class="btn btn-success" (click)="onAdd()">Add</button>
      <button class="btn btn-success" (click)="onAssign()">Assign</button>
    </div>
    }
  </div>
  <app-table-view
    [columns]="columns"
    [data]="projectList"
    (deleteEmit)="showDeletePopup($event)"
    (editEmit)="onUpdate($event)"
    (overviewEmit)="onView($event)"
  />
</div>
