<div class="container timesheet-container">
    <div class="header-content">
      <p>Add Task</p>
      <div class="options">
        <button class="btn btn-success" (click)="onBack()">Back</button>
        <button class="btn btn-success" (click)="onSubmit()">Create</button>
      </div>
    </div>
    <form class="timesheet-form">
      <div class="mb-3">
        <app-select-dropdown
          formControlName="project"
          [items]="projects"
          bindLabel="name"
          bindValue="id"
          placeholder="Select a project"
          label="Project"
        />
      </div>

      <div class="mb-3">
        <app-select-dropdown
          formControlName="taskType"
          [items]="projects"
          bindLabel="name"
          bindValue="id"
          placeholder="Select a task type"
          label="Task Type"
        />
      </div>

      <div class="mb-3">
        <label for="hours" class="form-label">Task Name</label>
        <input
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="hours" class="form-label">Allocate hours</label>
        <input
          type="number"
          class="form-control"
        />
      </div>

    </form>
  </div>
  