<p mat-dialog-title>Assign Project</p>

<mat-dialog-content>
  <form>
    <div class="mb-3">
      <app-select-dropdown
        formControlName="project"
        [items]="projects"
        bindLabel="name"
        bindValue="id"
        placeholder="Select a project"
        label="Project"
      />
    </div>
    <div class="mb-3">
      <label for="hours" class="form-label">Assign To</label>
      <mat-form-field class="w-100">
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          @for (fruit of fruits(); track fruit) {
          <mat-chip-row
            (removed)="remove(fruit)"
            [editable]="true"
            (edited)="edit(fruit, $event)"
          >
            {{ fruit.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            class="assign-users-chip-input"
            placeholder="Type and press Enter"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-light me-2" (click)="onCancel()">Cancel</button>
  <button class="btn btn-success" (click)="onSubmit()">Assign</button>
</mat-dialog-actions>
