<h1 mat-dialog-title>Assign Project</h1>

<mat-dialog-content class="content-container">
  <form>
    <div class="mb-3">
      <app-select-dropdown
        [items]="projects"
        bindLabel="name"
        bindValue="id"
        placeholder="Select a project"
        label="Project"
      />
    </div>
    <div class="mb-3">
      <app-select-dropdown
        [items]="projects"
        [multiple]="true"
        [searchable]="true"
        bindLabel="name"
        bindValue="id"
        placeholder="Select assign to"
        label="Assign To"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-light me-2" (click)="onCancel()">Cancel</button>
  <button class="btn btn-success" (click)="onSubmit()">Assign</button>
</mat-dialog-actions>
