@import '../../styles/variables';

.app-layout {
  display: flex;
  height: 100vh;

  .main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $main-area-bg-color;

    .main-content {
      flex: 1;
      overflow-y: auto;
      padding: 1rem;
    }
  }
}
