<div class="container form-container">
  <div class="header-content">
    <p>Add Project</p>
    <div class="options">
      <button class="btn btn-secondary" (click)="navigateToList()">Back</button>
      <button class="btn btn-success" (click)="submitForm()">Create</button>
    </div>
  </div>
  <form class="common-form" [formGroup]="createEProjectForm">
    <div class="mb-3">
      <label for="hours" class="form-label">Project Name</label>
      <input class="form-control" formControlName="projectName" />
    </div>
    <div class="mb-3">
      <label for="hours" class="form-label">Allocate hours</label>
      <input
        type="number"
        class="form-control"
        formControlName="allocateHours"
      />
    </div>
  </form>
</div>
