<div class="form-group">
  @if (label) {
  <label class="form-label">{{ label }}</label>
  }
  <ng-select
    class="custom-ng-select"
    [items]="items"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [placeholder]="placeholder"
    [searchable]="searchable"
    [clearable]="false"
    [dropdownPosition]="'bottom'"
    [fixedPlaceholder]="false"
    [(ngModel)]="value"
    [clearable]="clearable"
    [disabled]="disabled"
    [multiple]="multiple"
    (ngModelChange)="setValue($event)"
    [ngClass]="{ 'disabled': disabled }"
    [readonly]=""
  />
</div>
