<div class="login-container">
  <form class="login-form" [formGroup]="forgotPasswordForm">
    <div class="m-0">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        class="img-fluid mx-auto d-block rounded"
        height="100"
        width="300"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Employee ID</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your employee ID"
        formControlName="employeeId"
      />
    </div>

    <button
      (click)="resetPassword()"
      class="btn btn-primary"
      [disabled]="forgotPasswordForm.invalid"
    >
      Submit
    </button>
    <button class="btn btn-light" (click)="navigateToLogin()">Cancel</button>
  </form>
</div>
