<div class="container form-container">
  <div class="header-content">
    <p>Add Timesheet</p>
    <div class="options">
      <button class="btn btn-success" (click)="onBack()">Back</button>
      <button class="btn btn-success" (click)="onSubmit()">Create</button>
    </div>
  </div>
  <form class="common-form" [formGroup]="createTimesheetForm">
    <div class="mb-3">
      <app-select-dropdown
        formControlName="project"
        [items]="projects"
        bindLabel="name"
        bindValue="id"
        placeholder="Select a project"
        label="Project"
      />
    </div>

    <div class="mb-3">
      <app-select-dropdown
        formControlName="task"
        [items]="projects"
        bindLabel="name"
        bindValue="id"
        placeholder="Select a task"
        label="Task"
      />
    </div>

    <div class="mb-3">
      <app-select-dropdown
        formControlName="taskType"
        [items]="projects"
        bindLabel="name"
        bindValue="id"
        placeholder="Select a task type"
        label="Task Type"
      />
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="date1" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="date1" name="date1" required />
      </div>
      <div class="col-md-6 mb-3">
        <label for="date2" class="form-label">End Date</label>
        <input type="date" class="form-control" id="date2" name="date2" required />
      </div>
    </div>
    
    <div class="mb-3">
      <label for="hours" class="form-label">Hours</label>
      <input
        type="time"
        pattern="^([01][0-9]|2[0-3]):00$"
        class="form-control"
        id="hours"
        name="hours"
        min="0"
        max="24"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Task Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        required
      ></textarea>
    </div>
  </form>
</div>
