<div class="container form-container">
  <div class="header-content">
    <p>Add Timesheet</p>
    <div class="options">
      <button class="btn btn-secondary" (click)="navigateToList()">Back</button>
      <button class="btn btn-success" (click)="submitForm()">Create</button>
    </div>
  </div>

  <form class="common-form" [formGroup]="createTimesheetForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <app-select-dropdown
          formControlName="projectId"
          bindLabel="ProjectName"
          bindValue="ProjectId"
          placeholder="Select a project"
          label="Project"
          [items]="dropdownData?.projects || []"
        ></app-select-dropdown>
      </div>

      <div class="col-md-6 mb-3">
        <app-select-dropdown
          formControlName="taskId"
          bindLabel="TaskName"
          bindValue="TaskId"
          placeholder="Select a task"
          label="Task"
          [items]="projectAssignedDropdown?.tasks || []"
        ></app-select-dropdown>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="date1" class="form-label">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="date1"
          formControlName="startDate"
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="date2" class="form-label">End Date</label>
        <input
          type="date"
          class="form-control"
          id="date2"
          formControlName="endDate"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="hours" class="form-label">Hours</label>
      <input
        type="time"
        class="form-control"
        id="hours"
        formControlName="hours"
        pattern="^([01][0-9]|2[0-3]):00$"
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Task Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        rows="3"
      ></textarea>
    </div>
  </form>
</div>
