<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th *ngFor="let col of columns" scope="col">{{ col.header }}</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (showLoader) {
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center p-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>
      } @else if (data.length > 0) { @for (element of data; track $index) {
      <tr
        [ngStyle]="{
          'border-left': element?.StatusBorderColor
            ? element.StatusBorderColor
            : ''
        }"
      >
        @for (col of columns; track $index) { @if (col.type === 'date') {
        <!-- <td>
              {{ element[col.key] ? (element[col.key] | date : "medium") : "N/A" }}
            </td> -->
        <td>{{ element[col.key] || "N/A" }}</td>
        } @else {
        <td>{{ element[col.key] || "N/A" }}</td>
        } }
        <td>
          @for (btn of actionButtons; track $index) {
          <button
            class="btn btn-sm"
            [ngClass]="btn.class"
            (click)="btn.onClick(element)"
            [title]="btn.title"
          >
            <i class="fa" [ngClass]="btn.icon"></i>
          </button>
          }
        </td>
      </tr>
      } } @else {
      <tr class="no-data-row">
        <td [attr.colspan]="columns.length + 1" class="text-center py-3">
          No Records Found
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
