@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a,
.btn {
  transition: all 300ms ease;
}

.my-custom-tooltip {
}

//snack-bar
::ng-deep .snackbar-success {
  background-color: #28a745; // green
  color: white;
}

::ng-deep .snackbar-error {
  background-color: #dc3545; // red
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.form-control:disabled {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.custom-select ::ng-deep .mat-select-trigger {
  background-color: white;
  border: 1px solid #e5dada;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
