<div class="container dashboard-container py-4">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="border rounded p-3 height-100 shadow-sm bg-white">
        <h5 class="mb-3">Activity Overview</h5>
        <app-activity-overview [activityOverviewData]="activityOverviewData" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="border rounded p-3 height-100 shadow-sm bg-white">
        <h5 class="mb-3">Widget 2</h5>
        <app-activity-overview [activityOverviewData]="activityOverviewData" />
      </div>
    </div>
  </div>
</div>
